.slider .btn {
  margin-top: 20px;
}

.section-slider {
  height: 1280px;
  min-height: 600px;
}

.section-icons {
  padding-top: 50px;
}

.section-ux {
  padding-top: 50px;
}

.slider .slides li:first-child img {
  background-position-y: 60% !important;
}

.slider .slides li:nth-child(2) img {
  background-position-y: 60% !important;
}

.slider .slides li:nth-child(3) img {
  background-position-y: 30% !important;
}

.sidenav-footer {
  margin-bottom: 0px;
  padding: 0;
}
.sidenav-footer .row {
  margin-bottom: 0;
}
.sidenav-footer .row .social-icons a {
  opacity: 0.5;
  padding: 0;
  text-align: center;
}
.sidenav-footer .row .social-icons a:hover {
  background-color: inherit;
  opacity: 1;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6 {
  opacity: 0;
}

.tabs .indicator {
  background-color: #2196f3;
} /*Color of underline*/

.bio {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .caption h2 {
    font-size: 2.5em;
  }
}

.flow-text {
  line-height: 150%;
}

.section-arrow {
  height: 125px;
}

.arrow-icon {
  margin-top: 10px;
}

.bounce {
  -moz-animation: bounce 2.5s infinite;
  -webkit-animation: bounce 2.5s infinite;
  animation: bounce 2.5s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
