
<!-- includes/nav.html -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="index.html">
      <img
        src="images/TIAA/bluelogo.png"
        alt="Faraz Uddin Logo"
        width="65"
        height="50"
      >
    </a>

    <!-- Mobile Navigation Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto text-center align-items-lg-center">

        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="index.html">
            Home
          </a>
        </li>

        <!-- Experience -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fw-semibold"
            href="#"
            id="experienceDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Experience
          </a>

          <ul
            class="dropdown-menu dropdown-menu-dark text-center"
            aria-labelledby="experienceDropdown"
          >
            <li>
              <a class="dropdown-item" href="WF_MS_2026.html">
                Wells Fargo
              </a>
            </li>

            <li>
              <a class="dropdown-item" href="TIAA.html">
                TIAA
              </a>
            </li>
          </ul>
        </li>

        <!-- Skills & Guides -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle fw-semibold"
            href="#"
            id="skillsDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Skills &amp; Guides
          </a>

          <ul
            class="dropdown-menu dropdown-menu-dark text-center"
            aria-labelledby="skillsDropdown"
          >

            <!-- Honeywell Case Study -->
            <li>
              <a
                class="dropdown-item"
                href="honeywell-case-study-floating-toc.html"
              >
                Honeywell SAP S/4HANA Case Study
              </a>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <!-- Data Product & Governance -->
            <li>
              <a class="dropdown-item" href="data_guide.html">
                Data Product &amp; Governance
              </a>
            </li>

            <!-- Enterprise Data -->
            <li>
              <a class="dropdown-item" href="Data.html">
                Enterprise Data
              </a>
            </li>

            <!-- API Testing -->
            <li>
              <a class="dropdown-item" href="API.html">
                API Testing
              </a>
            </li>

            <!-- SDLC & Agile -->
            <li>
              <a class="dropdown-item" href="Agile.html">
                SDLC &amp; Agile
              </a>
            </li>

            <!-- Backlog Refinement -->
            <li>
              <a class="dropdown-item" href="Grooming.html">
                Backlog Refinement
              </a>
            </li>

            <!-- Stakeholder Management -->
            <li>
              <a class="dropdown-item" href="Stakeholder.html">
                Stakeholder Management
              </a>
            </li>

          </ul>
        </li>

        <!-- Resume -->
        <li class="nav-item ms-lg-3 my-2 my-lg-0">
          <a
            class="btn btn-outline-light fw-semibold px-4"
            href="/images/TIAA/Faraz_Uddin_Resume_OCT26..pdf"
          >
            Resume
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>
